body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #224E2F;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    background: black; /* Cambiá color */
}

  .logo img {
    height: 120px;
    width: 140PX;
    cursor: pointer;
  }

.search-container {
    display: flex;
    align-items: center;
}

.search-container input {
    padding: 8px;
}

.search-btn {
    padding: 8px;
    cursor: pointer;
}

/* CATEGORÍAS */
.categoria-bar {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 15px;
    background: #6ABF4B; /* Cambiá color */
}

.categoria-bar button {
    padding: 8px 12px;
    cursor: pointer;
    background-color: white;
    border: white;
}

/* FILTROS */
.filtros {
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.filtros-contenido {
    display: none;
    flex-direction: column;
    background: white;
    padding: 10px;
    border: 1px solid #bbb;
}

/* GRID DE PRODUCTOS */
.productos-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 por fila */
    gap: 20px;
    padding: 30px;
    text-align: center;

}

.producto {
    border: 1px solid;
    padding: 15px;
    background-color: #FAE9D4;
}

.producto img {
    width: 100%;
    height: 200px;  /* Ajustalo como quieras */
    object-fit: cover;
}

