.simple-header {
    background: black;
    color: white;
    padding: 25px 0;
    text-align: center;
}

.legal-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    line-height: 1.7;
    font-size: 17px;
}

.legal-container h2 {
    margin-top: 25px;
    font-size: 22px;
    color: black;
}

.update-date {
    margin-top: 40px;
    font-style: italic;
    font-size: 14px;
    color: black;
}

body{
    background-color: #224E2F
}
