body {
    background-color:#2A6F3F ; /* Color de fondo lo pones vos */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.titulo-carrito {
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
    color: ;
}

.carrito-contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-items: center;
}

.producto {
    background-color:#D9BB98 ; /* color del cuadro */
    width: 260px;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
}

.producto img {
    width: 100%;
    height: 180px;       /* para que no queden gigantes */
    object-fit: contain; /* para que no se deformen */
}

.precio {
    font-size: 18px;
}

.eliminar {
    margin-top: 10px;
    width: 100%;
    padding: 8px;
    background-color:#6ABF4B ; /* color del botón */
    color: black;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

.cantidad {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.btn-cant {
    width: 28px;
    height: 28px;
    border-radius: 8px;
    border: none;
    background-color:black ; /* color botones cantidad */
    color: white;
    cursor: pointer;
}

.vaciar {
    margin: 40px auto 0 auto;
    display: block;
    padding: 15px 40px;
    background-color:#6ABF4B ; /* color botón vaciar */
    border: none;
    border-radius: 12px;
    font-size: 20px;
    cursor: pointer;
}
