/* Fondo general */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #224E2F;
    background: ; /* COLOR DE FONDO QUE QUIERAS */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Tarjeta del login */
.login-container {
    background:#82D098 ; /* COLOR DE FONDO DEL CUADRO */
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    width: 350px;
    text-align: center;
}

/* Título */
.titulo {
    font-size: 30px;
    margin-bottom: 10px;
    color: ;
}

.subtitulo {
    font-size: 14px;
    margin-bottom: 25px;
    color: rgb(92, 90, 90);
}

/* Formulario */
.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    text-align: left;
    font-size: 14px;
    color: ;
}

input {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #bbb;
    outline: none;
    font-size: 14px;
}

/* Botón principal */
.btn-login {
    margin-top: 10px;
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    background:#416052 ; /* EL COLOR PRINCIPAL DE TU EMPRESA */
    color: white;
    transition: 0.3s;
}

.btn-login:hover {
    background: ; /* Tono más oscuro */
}

/* Enlace a registro */
.registro-link {
    margin-top: 10px;
    font-size: 14px;
}

.registro-link a {
    color: ;
    text-decoration: none;
    font-weight: bold;
}

.registro-link a:hover {
    text-decoration: underline;
}
