body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #6c5c76;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.todo-contenedor{
    background-color: #574784;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}
h1{
    color: black;
}
input{
    width: 80%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button{
    padding: 10px;
    font-size: 16px;
    background-color: #293661;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(28, 142, 51);
}
ul{
    list-style-type: none;
    padding: 0;
}
li{
    background-color: azure;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
li.completada{
    background-color:#ffb9f4 ;
    text-decoration: line-through;
}
button.eliminar{
    background-color: #6b0946;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
button.eliminar:hover{
    background-color: #6b0946;

}

